{% extends 'base.html' %}

{% block navbus %}
<ul>
    <li><span>{{ g.dev['devname'] }}</span>
    <li><a href="{{ url_for('config') }}">return</a>
    <li><a href="{{ url_for('auth.logout') }}">logout</a>
</ul>
{% endblock %}

{% block header %}
<h1>{% block title %}Admin{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>id</th>
        <th>用户名</th>
        <th>conf</th>
        <th>iou</th>
        <th>管理员</th>
    </tr>
    {% for row in data %}
    <tr>
    <form method='post'>
        <input name='id' id='id' type='hidden' value='{{ row["id"] }}'>
        <td><label>{{ row['id'] }}</label></td>
        <td><label'>{{ row['devname'] }}</label></td>
        <!-- <td><input name='name' id='name' value='{{ row["devname"] }}' disabled=true></td> -->
        <td><label>{{ row['conf'] }}</label></td>
        <td><label>{{ row['iou'] }}</label></td>
        {% if g.dev['id'] == row['id'] %}
            <td><label>是</label></td>
        {% else %}
            <td><select name='isadmin'>
                {% if row['isadmin'] == 0 %}
                    <option value='y'>是</option>
                    <option value='n' selected>否</option>
                {% else %}
                    <option value='y' selected>是</option>
                    <option value='n' >否</option>
                {% endif %}
            </select></td>
        {% endif %}
        <td><input type='submit' value='submit'></td>
    </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}