{% extends 'base.html' %}

{% block navbus %}
<ul>
    {% if g.dev['isadmin'] == 1 %}
    <li><span>{{ g.dev['devname'] }}</span>
    <li><a href="{{ url_for('admin.lookup') }}">admin</a>
    <li><a href="{{ url_for('auth.logout') }}">logout</a>
    {% else %}
    <li><span>{{ g.dev['devname'] }}</span>
    <li><a href="{{ url_for('auth.logout') }}">logout</a>
    {% endif %}
</ul>
{% endblock %}

{% block header %}
<h1>{% block title %}Config{% endblock %}</h1>
{% endblock %}

{% block content %}
<form id="form1" action="" method="POST">
    <label for='conf'>conf:</label>
    <label id='conf_value'>loading...</label>
    <input name='conf' id='conf' required>
    <label for='iou'>iou:</label>
    <label id='iou_value'>loading...</label>
    <input name='iou' id='iou' required>
    <input type="button" value="set" id="submit">
</form>
<script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/business/config",
            success: (data) => {
                $('#conf_value').text(data['conf']);
                $('#iou_value').text(data['iou']);
            }
        })
        $('#submit').click(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/business/config",
                data: $('#form1').serialize(),
                success: (data) => {
                    if(data['code'] == 0){
                        $('.flash').remove();
                        $('#conf_value').text(data['conf']);
                        $('#iou_value').text(data['iou']);
                    }else{
                        location.reload();
                    }

                }
            })
        })
    })
</script>
{% endblock %}